<div class="page-header">
    <div class="container">
        <h1>
            {{this.header}}
        </h1>
    </div>
</div>
<div class="container">
    <div class="row top-row">
        <div class="col-xs-12 row end-xs">
            <a routerLink='/students' color="primary" mat-raised-button>
                <mat-icon>
                    chevron_left
                </mat-icon>
                Go Back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- form-->
            <form #studentDetailForm="ngForm">
                <div class="row">
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>firstName</mat-label>
                            <input type="text" matInput [(ngModel)]='student.firstName' name="firstName"
                                pattern="^[a-zA-Z]+$" minlength="3" required>
                            <mat-error>Please Enter Valid First Name</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>lastName</mat-label>
                            <input type="text" matInput [(ngModel)]="student.lastName" pattern="^[a-zA-Z]+$"
                                name="lastName" required>
                            <mat-error>Please Enter Valid Last Name</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>DateOfBirth</mat-label>
                            <input matInput [matDatepicker]='picker' [(ngModel)]="student.dateOfBirth"
                                name="dateOfBirth" required>
                            <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>Please Select Date Of Birth</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" [(ngModel)]="student.email" name="email" required
                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                            <mat-error>Please Enter Valid Email</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile</mat-label>
                            <input matInput type="tel" [(ngModel)]="student.mobile" name="mobile" pattern="^[6-9]\d{9}$"
                                required>
                            <mat-error>Please Enter Valid Mobile Number</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select [(ngModel)]="student.genderId" name="gender" required>
                                <mat-option *ngFor="let gender of genderList" [value]="gender.id">
                                    {{gender.description}}
                                </mat-option>
                            </mat-select>
                            <mat-error> Please Select gender </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Physical Address</mat-label>
                            <textarea matInput [(ngModel)]="student.address.physicalAddress" name="phaddress"
                                required></textarea>
                            <mat-error>Please Enter Physical Address</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Postal Address</mat-label>
                            <textarea matInput [(ngModel)]="student.address.postalAddress" name="poaddress"
                                required></textarea>
                            <mat-error>Please Enter Postal Address</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf='!isNewStudent' class="row">
                    <div class="col-xs-12">
                        <div class="row between-xs">
                            <button mat-raised-button color="primary"
                                (click)="onUpdate(student.id,student)">Save</button>
                            <button mat-raised-button color="warn" (click)="onDelete(student.id)">Delete</button>
                        </div>
                    </div>
                </div>
                <div *ngIf='isNewStudent' class="row">
                    <div class="col-xs-12">
                        <div class="row between-xs">
                            <button mat-raised-button color="primary" (click)="onAddStudent()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <!-- Profile image-->
            <div class="row center-xs">
                <div class="image-container">
                    <img [src]="displayProfileImageUrl" alt="Profile Image">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewStudent">
                    <input hidden type="file" #imageUpload (change)="uploadImage($event)">
                    <button mat-raised-button color="primary" (click)="imageUpload.click()">Change Image</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#7537db" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

